body {
  margin: 0 auto;
  background: url('https://cdn.pixabay.com/photo/2017/10/27/11/43/football-2894017_960_720.jpg');
  background-size: cover;
}


h1 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 50px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  font-size: 18px;
}


.logo {
  width: 250px;
  height: 188px;
  margin: 10px 0px;
}

.all-teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.team-data {
  padding: 25px;
  margin: 25px;
  height: 600px;
  flex: 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
  border: 10px darkblue solid;
}

.overview {
  background: white;
}

.overview-text {
  color: black;
  font-size: 30px;
  text-align: justify;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin: 25px auto 25px;
  padding: 25px;
}

.new-rank {
  background-color: #782F40;
  color: white;
  font-size: 40px;
}

p {
  font-size: 20px;
}