body {
  margin: 0 auto;
  background-color: black;

}


h1 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-top: 50px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  font-size: 18px;
}


.logo {
  width: 250px;
  height: 188px;
  margin: 10px 0px;
}

.all-teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.team-data {
  padding: 25px;
  margin: 25px;
  height: 600px;
  flex: 15%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
}

.overview-text {
  color: white;
  font-size: 30px;
  text-align: justify;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-rank {
  background-color: #782F40;
  color: white;
  font-size: 40px;
}

p {
  font-size: 20px;
}